/* CSS Reset (from http://meyerweb.com/eric/tools/css/reset/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */

body {
	height: 100%;
	width: 100%;
	background-color: #f1f1f1;
}

/* Header */

header {
	width: 100%;
	background: #fff;
	height: 51px;
	border-bottom: 1px solid #e8e8e8;
}

header ul li {
	display: inline-block;
	vertical-align: middle;
	/*border: 2px solid orange;*/
}

.logo {
	margin-top: -5px;
	width: 100px;
}

.menu-btn {
	display: inline-block;
	background: url("https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflDqEBst.webp") -279px -391px;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	margin-bottom: 5px;
}

.menu-btn:hover {
	border: 1px solid #e8e8e8;
	cursor: pointer;
}

.search-box {
	display: inline-block;
	border: 1px solid #ccc;
	margin-left: 100px;
	margin-bottom: 5px;
	width: 580px;
	height: 30px;
}

.search-btn {
	display: inline-block;
	height: 30px;
	width: 70px;
	margin-top: -4px;
	margin-left: -5px;
	border: 1px solid #d3d3d3;
	background: #f8f8f8 url("../images/search.jpg") 50% 50% no-repeat;
	background-size: 16px 16px;
}

.search-btn:hover {
	cursor: pointer;
	background-color: gray;
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d3d3d3;
	margin-top: -4px;
	font: 800 13px arial, sans-serif;	
}

.btn:hover {
	cursor: pointer;
	background-color: gray;
}

.upload-btn {
	margin-left: 850px;
	height: 30px;
	width: 70px;
	background-color: #f8f8f8;
	font-color: #000;
}

.signin-btn {
	margin-left: 15px;
	height: 30px;
	width: 70px;
	background-color: #167ac6;
	font-color: #fff;
}

/* Main */

.main {
	margin: 0.5% 0;	
	width: 100%;
}

/* Contents */

.contents {
	float: left;
	width: 45%;
	margin-left: 15%;
	border: 1px dashed green;
}

/* Contents - Details 1 & 2 */

.details-1 {
	border: 1px dashed orange;
	margin-bottom: 2.5px;
}

#uploader-icon {
	height: 48px;
	width: 48px;
	float: left;
}

#btn-subscribe {
	height: 24px;
	background: #e62117;
}

.details-2 {
	clear:both;
	border: 1px solid brown;
	margin-top: 20px;
}

/* Contents - Comments */

.comments {
	margin-top: 2.5px;
	border: 1px solid maroon;
}


/* Sidebar */

.sidebar {
	float: right;
	margin-right: 15%;
	width: 24.5%;
	border: 1px dashed blue;
}

/* Footer */

footer {
	clear: both;
	width: 100%;
	height: 102px;
	background: #fff;
	border-top: 1px solid #e8e8e8;
}